@model finalProject.Models.User

<div>
    <table class="table table-hover table - striped" >
        <tr>
            <td>first name</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>last Name</td>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <td>id</td>
            <td>@Model.userId</td>
        </tr>
        <tr>
            <td>job Title</td>
            <td>@Model.jobTitle</td>
        </tr>
        <tr>
            <td>birthday</td>
            <td>@Model.birtday</td>
        </tr>
        <tr>
            <td>start of work</td>
            <td>@Model.startWork</td>
        </tr>
        <tr>
            <td>salery</td>
            <td>@Model.salary</td>
        </tr>
    </table>
</div>
