@model finalProject.Models.User
<div class="table">
    <form class="form-group" action="@Url.Action("submitShifts","Admin")" method="post" id="shiftForm">
        <table class="table table-hover table-striped">
            <tr>
                <td>
                    <label for="inputGroupSelect01">Sunday</label>
                </td>
                <td>
                    <select class="custom-select" id="inputGroupSelect01" name="Sunday">
                        @Html.Partial("optinsForShifts")
                    </select>
                </td>
            </tr>
            <tr>
                <td> <label for="inputGroupSelect02">Monday</label></td>
                <td>
                    <select class="custom-select" id="inputGroupSelect02" name="Monday">
                        @Html.Partial("optinsForShifts")
                    </select>
                </td>
            </tr>
            <tr>
                <td> <label for="inputGroupSelect03">Tuesday</label></td>
                <td>
                    <select class="custom-select" id="inputGroupSelect03" name="Tuesday">
                        @Html.Partial("optinsForShifts")
                    </select>
                </td>
            </tr>
            <tr>
                <td> <label for="inputGroupSelect04">Wensday</label></td>
                <td>
                    <select class="custom-select" id="inputGroupSelect04" name="Wensday">
                        @Html.Partial("optinsForShifts")
                    </select>
                </td>
            </tr>
            <tr>
                <td> <label for="inputGroupSelect05">Thursday</label></td>
                <td>
                    <select class="custom-select" id="inputGroupSelect05" name="Thursday">
                        @Html.Partial("optinsForShifts")
                    </select>
                </td>
            </tr>
            <tr>
                <td> <label for="inputGroupSelect06">Friday</label></td>
                <td>
                    <select class="custom-select" id="inputGroupSelect06" name="Friday">
                        @Html.Partial("optinsForShifts")
                    </select>
                </td>
            </tr>
            <tr>
                <td> <label for="inputGroupSelect07">Saturday</label></td>
                <td>
                    <select class="custom-select" id="inputGroupSelect07" name="Saturday">
                        @Html.Partial("optinsForShifts")
                    </select>
                </td>
            </tr>
        </table>
        <input type="hidden" name="userId" value="@Session["userId"]" />
        <input type="hidden" name="date" value="@DateTime.Today" />
        <div>
            <span class="input-group-text" id="basic-addon1">Total money :  <a id="weekchash"></a></span>
            <button type="submit" class="btn btn-primary">
                submit <span class="badge badge-light"></span>
            </button>
        </div>


    </form>
    <p style="color:red">@ViewBag.eror</p>

</div>

<script>
    $('select').change(function () {
        var sum = 0;
        debugger;
        $('select :selected').each(function () {

            if ($(this).val() == "11-19" || $(this).val() == "v" || $(this).val() == "19cl")
                sum += 7;
            else if ($(this).val() == "e")
                sum += 4;
        });
        $("#weekchash").html(sum * @Session["salary"] );
    });

</script>
